.div-main {
  background-image: url('https://app.spline.design/file/d81790b5-987e-465f-87e0-d879a0218c50');
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
