.pos-div-ani {
  position: absolute !important;
  z-index: 1 !important;
  opacity: 0.5 !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: column !important;
}
@keyframes typingAnimation {
  from {
    width: 0 !important;
  }
  to {
    width: 100% !important;
  }
}
